#page-header {
    background: url(../img/image1.jpg);
    background-size: cover;
    
    h1, p {
        color: white;
    }
}

#details {
    img {
        border-radius: 5000%;
    }
}

#boxes {
    h4 {
        color: white;
    }
    color: white;

    .fa {
        font-size: 35px;
    }

    .card {
        padding-bottom: 20px;
        border: 0;
    }
}

#testimonial {
    h2, p {
        color: white;
    }
    color: white;

    .slick-prev::before,
    .slick-next::before {
        color: #fff;
    }

    a {
        color: white;
    }
}

// @media(max-width:480px) {
//     #boxes {
//         .card {
//             padding-bottom: 20px;
//         }
//     }
// }


