#PriceTable {
    .card-header {
        
        h3 {
            color: #ffffff;
        }

    }
}


#faq {
    
    h2 {
        color: white;
    }

    .card {
        border: #000;
    }

    .card-header {
        background: #000;
        
        .btn {
            color: white;
        }
    }
}


